{% for post in site.posts %}
<!-- <li class="blogPost"> -->
  <div class="post-container" id="{{ post.title | slugify }}">
    <div class="post-title">{{ post.title }}</div>
    <div class="post-excerpt">{{ post.excerpt | strip_html }}</div>
    <div class="post-date">{{ post.date | date_to_string }}</div>
  </div>
  <!-- <div id = "{{ post.title }}-content" class="grid-container post-content">
    <div class="grid-item">
      {% if post.excerpt contains "://" %}{{ post.content }}{% else %}{{ post.content | remove_first: post.excerpt }}{% endif %}
    </div>
  </div> -->
{% endfor %}

<script type="text/javascript">
  const posts = document.querySelectorAll('.post-container');

  // delay for resizing
  let delay = (function(){
    let timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  function reportWindowSize() {
      if (matchMedia('only screen and (max-width: 900px)').matches) {
        posts.forEach((post) => {
          // post.style.alignItems = 'stretch';
          // post.style.marginLeft = Math.floor((Math.random() * 5) + 1)+"rem";
          post.style.marginTop = Math.floor((Math.random() * 12) + 1)+"rem";;
          post.style.gridColumn = Math.floor((Math.random() * 4) + 1) + '/ span ' + Math.floor((Math.random() * 3) + 2);
        });
      } else if (matchMedia('only screen and (max-width: 600px)').matches) {
        posts.forEach((post) => {
          // post.style.alignItems = 'stretch';
          // post.style.marginLeft = Math.floor((Math.random() * 5) + 1)+"rem";
          post.style.marginTop = Math.floor((Math.random() * 6) + 1)+"rem";;
          post.style.gridColumn = Math.floor((Math.random() * 3) + 1) + '/ span ' + Math.floor((Math.random() * 4) + 2);
        });
      } else 
      {
        posts.forEach((post) => {
          // post.style.alignItems = 'stretch';
          // post.style.marginLeft = Math.floor((Math.random() * 5) + 1)+"rem";
          post.style.marginTop = Math.floor((Math.random() * 12) + 1)+"rem";;
          post.style.gridColumn = Math.floor((Math.random() * 5) + 1) + '/ span ' + Math.floor((Math.random() * 5) + 2);
        });
      }
  }

  function load(){
    reportWindowSize();
  }

  window.onload = load();


  window.addEventListener('resize',() => {
    
    delay(function(){
    // alert('Resize...');
    reportWindowSize();
    }, 500);
    
  });
</script>