{% for post in site.posts %}
<!-- <li class="blogPost"> -->
  <div class="post-container" id="{{ post.title | slugify }}">
    <div class="post-title">{{ post.title }}</div>
    <div class="post-excerpt">{{ post.excerpt | strip_html }}</div>
    <div class="post-date">{{ post.date | date_to_string }}</div>
  </div>
  <!-- <div id = "{{ post.title }}-content" class="grid-container post-content">
    <div class="grid-item">
      {% if post.excerpt contains "://" %}{{ post.content }}{% else %}{{ post.content | remove_first: post.excerpt }}{% endif %}
    </div>
  </div> -->
{% endfor %}

<script type="text/javascript">
  const posts = document.querySelectorAll('.post-container');
  posts.forEach((post) => {
    // for each we add a 'click' listener
    // post.style.position = 'fixed'; 
    post.style.display = 'inline-block';
    post.style.backgroundColor = 'white';
    // post.style.padding = '3rem';

    // Math.floor((Math.random() * 50) + 2)+"rem";
    post.style.marginLeft = Math.floor((Math.random() * 40) + 1)+"rem";  
    post.style.marginTop = Math.floor((Math.random() * 12) + 1)+"rem";   
  });
</script>

