{% for post in site.posts %}
  <div class="post-container" id="{{ post.title | slugify }}">
  {% if post.type == 'image' %}
    {% assign crumbs = post.mediaFile | split: '/' %}
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        {% assign fileNameParts = crumb | split: '.' %}
        {% assign fileName = fileNameParts[0] %}
      {% endif %}
    {% endfor %}
    <img src="{{ post.mediaFile }}" class="post-image" alt="{{ fileName | replace:'_',' ' | replace:'-',' ' | capitalize }}">
  {% else %}
    <div class="post-title">{{ post.title }}</div>
    <div class="post-excerpt">{{ post.excerpt | strip_html }}</div>
    <div class="post-date">{{ post.date | date_to_string }}</div>  
  {% endif %}
  </div>
{% endfor %}

<script type="text/javascript">
  const posts = document.querySelectorAll('.post-container');

  // delay for resizing
  let delay = (function(){
    let timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  function reportWindowSize() {
    if (matchMedia('only screen and (max-width: 400px)').matches) {
      posts.forEach((post) => {
        if(post === posts[0]){
          console.log(posts[0]);
          post.style.marginTop = Math.floor((Math.random() * 4) + 1)+"rem";;
        }
        else {
          // post.style.alignItems = 'stretch';
          // post.style.marginLeft = Math.floor((Math.random() * 5) + 1)+"rem";
          post.style.marginTop = '0.5rem';
          post.style.gridColumn = '1 / span 1';
        }
      });
    }
    else if (matchMedia('only screen and (max-width: 600px)').matches) {
        posts.forEach((post) => {
          if(post === posts[0]){
            console.log(posts[0]);
            post.style.marginTop = Math.floor((Math.random() * 4) + 1)+"rem";;
          }
          else {
            // post.style.alignItems = 'stretch';
            // post.style.marginLeft = Math.floor((Math.random() * 5) + 1)+"rem";
            post.style.marginTop = Math.floor((Math.random() * 3) + 1)+"rem";
            post.style.gridColumn = Math.floor((Math.random() * 4) + 1) + '/ span ' + Math.floor((Math.random() * 4) + 2);
          }
        });
      } else if (matchMedia('only screen and (max-width: 900px)').matches) {
        posts.forEach((post) => {
          if(post === posts[0]){
            console.log(posts[0]);
            post.style.marginTop = Math.floor((Math.random() * 4) + 1)+"rem";;
          }
          else {
            // post.style.alignItems = 'stretch';
            // post.style.marginLeft = Math.floor((Math.random() * 5) + 1)+"rem";
            post.style.marginTop = Math.floor((Math.random() * 5) + 1)+"rem";
            post.style.gridColumn = Math.floor((Math.random() * 6) + 1) + '/ span ' + Math.floor((Math.random() * 6) + 2);
          }
        });
      } else {
        posts.forEach((post) => {
          if(post === posts[0]){
            console.log(posts[0]);
            post.style.marginTop = Math.floor((Math.random() * 4) + 1)+"rem";;
          }
          else {
            // post.style.alignItems = 'stretch';
            // post.style.marginLeft = Math.floor((Math.random() * 5) + 1)+"rem";
            post.style.marginTop = Math.floor((Math.random() * 7) + 1)+"rem";
            post.style.gridColumn = Math.floor((Math.random() * 10) + 1) + '/ span ' + Math.floor((Math.random() * 12) + 2);
          }
          
        });
      }
  }

  function load(){
    reportWindowSize();
  }

  window.onload = load();


  window.addEventListener('resize',() => {
    
    delay(function(){
    // alert('Resize...');
    reportWindowSize();
    }, 500);
    
  });
</script>