<nav class="topnav{% if page.url == '/' %} responsive{% endif %}" id="myTopnav">
  <a href="/" id="brand" class="menuItem">{{ site.title | downcase }}</a>
  {% for item in site.menus.navigation %}
  <a href="{{ item.url }}" class="{% if page.url == item.url %}current {% endif %}menuItem">{{ item.title | downcase }}</a>
  {% endfor %}
  <a href="javascript:void(0);" id="hamburger" class="icon" onclick="dropDown()">
    <i class="fa fa-bars"></i>
  </a>
</nav>
  
<script type="text/javascript" src="/assets/js/nav.js"> </script>

