<nav class="topnav{% if page.url == '/' %} responsive{% endif %}" id="myTopnav">
  <ul id="menuList">
    <!-- menu-brand -->
    <li>
      <a href="/" id="brand" class="menuItem">{{ site.title | downcase }}</a>
    </li>
    <!-- remaining menu-items -->
    {% for item in site.menus.navigation %}
    <li>
      <a href="{{ item.url }}" class="{% if page.url == item.url %}current {% endif %}menuItem">{{ item.title | downcase }}</a>
    </li>
    {% endfor %}
    <!-- hamburger goes here if I need it -->
    
  </ul>
</nav>
  
<script type="text/javascript" src="/assets/js/nav.js"> </script>

