  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {


    /* Form resize for small screens */
    form {
      width:85%;
      // font-size:125%;
      box-sizing:border-box;
      align-items:center;
      margin-top:4rem;
    }

    form label, textarea, button, input {
      box-sizing:border-box;
      margin-right:auto;
      margin-left:auto;
      width:85%!important;
    }
    
    form textarea {
      height:200px;
    }

    form button {
      font-size:1.25rem;
    }
    .post-container.audio {
      width:100%!important;
      
    }
    .green-audio-player {
      min-width:310px!important;
    }
    
  }
  // really small screens
  @media screen and (max-width: 400px) {
    .center, blog {
      width:100%;
      justify-items:center;
    }
    .post-title, .post-excerpt, .post-date {
      margin-left:0.5rem;
      width:auto;
    }
    .post-container {
      display:block;
      margin:0;
      // width:100%;
    }
    
  }

  @media screen and (max-width: 900px) {
    .post-image {
      max-width:100%;
      max-height:auto;
    }
    iframe {
      background-color:$page-background;
      max-width:100%;
      height:16rem;
    }
  }